<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DVDStore</title>
</head>
<body>
<H1>DVDStore : LA boutique de DVD en ligne</H1>
<h2>Actions disponibles :</h2>
<ul>
    <li><a href="add-movie-form">Ajouter un film</a></li>
</ul>

<h2>Liste des films :</h2>
<table border="1">
    <tbody>
        <td>Titre</td>
        <td>Film</td>
    </tbody>
    <tr th:each="movie: ${movies}">
        <td>
            <a th:href="@{/movie/{id}(id=${movie.id})}" th:text="${movie.title}"/>
        </td>
        <td th:text="${movie.genre}"></td>
    </tr>
</table>
</body>
</html>