<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DVDStore</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<h1>DVDStore : La boutique de DVD en ligne</h1>
<h2>Actions disponibles :</h2>
<p>
    <a href="create-form">Ajouter un film</a>
</p>

<section class="container">
    <div class="left-half">
        <h2>Liste des films :</h2>
        <article id="movie-list">

        </article>
    </div>
    <div class="right-half">
        <h2>Détail du film :</h2>
        <article id="movie-detail">

        </article>
    </div>
</section>
<script th:src="@{/js/script.js}"></script>
</body>
</html>